/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #282727;
}

header {
    background: #122c34;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header img {
    width: auto;
    height: auto;
    max-width: 300px;
    margin-bottom: 1rem;
}

section {
    padding: 3rem;
}

h1, h2 {
    color: #2a4494;
}

a:link {
    color: #2a4494;
    text-decoration: none;
}

a:visited {
    color: #224870;
}

a:hover {
    color: #4ea5d9;
    text-decoration: underline;
}

a:active {
    color: #2a4494;
}

.contact-info {
    background: #f4f4f4;
    padding: 1rem;
    margin-top: 2rem;
}

.paper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    gap: 2rem;
}

.paper img {
    max-width: 40%; /* Default smaller size for mobile and small screens */
    height: auto;
    transition: max-width 0.3s ease;
}

.paper div {
    flex: 1;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    gap: 2rem;
}

.project img {
    max-width: 50%; /* Default smaller size for mobile and small screens */
    height: auto;
    transition: max-width 0.5s ease;
}

.project div {
    flex: 1;
}

.inline-image {
    display: inline-block; /* Make the image inline with text */
    width: 100px; /* Control the width of the image */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align the image vertically with the text */
    margin-right: 10px; /* Optional: add space between the image and text */
}

/* Mobile Responsive Layout */
@media (max-width: 768px) {
    .paper {
        flex-direction: column;
        align-items: flex-start;
    }

    .paper img {
        max-width: 100%;
        margin-top: 1rem;
    }

    .contact-info {
        padding: 1rem;
        text-align: center;
    }
}

/* Very small mobile devices */
@media (max-width: 480px) {
    section {
        padding: 1rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.25rem;
    }
}
